PROG74010 Data Project

Amanuel Negussie, Cyril Kamal, Jacky Lam

# Telecommunication Customer Churn

For this data project, we are a telecommunication company

In [1]:
import pandas as pd

In [20]:
df_customer_demographics = pd.read_excel("Telco_customer_churn_demographics.xlsx")
df_customer_telco_services = pd.read_excel("Telco_customer_churn_services.xlsx")
df_customer_churn_status = pd.read_excel("Telco_customer_churn_status.xlsx")

In [27]:
pd.set_option('display.max_columns', None)
df_customer_demographics.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1

In [26]:
df_customer_telco_services.head()

,Service ID,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,IJKDQVSWH3522,8779-QRDMV,1,Q3,No,0,1,NaN,No,0.00,No,Yes,DSL,8,No,No,Yes,No,No,Yes,No,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,BFKMZJAIE2285,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,Yes,Fiber Optic,17,No,Yes,No,No,No,No,No,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,EIMVJQBMT7187,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,Yes,Fiber Optic,52,No,No,No,No,Yes,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,EROZQXDUU4979,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,Yes,Fiber Optic,12,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,GEEYSJUHY6991,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,Yes,Fiber Optic,14,No,No,No,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36

In [24]:
df_customer_churn_status.head()

,Status ID,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,SWSORB1252,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,SNAEQA8572,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,LMBQNN3714,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,VRZYZI9978,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,FDNAKX1688,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges

## Problem Definition

Customer churn which is the rate customers cancel their service with the company is an important issue for telecom companies. Finding the customers that are most likely to churn before they do lets companies take proactive action to keep their users. By keeping the users, they reduce revenue loss and keep a loyal customer base. The challenge is predicting churn accurately based on customer attributes and behaviors. 


The aspect of this problem broken down are:

- **Finding Churn Signs**: Finding what factors contribute to customer churn. 

- **Predictive Modeling**: Creating a predictive model that can assess the chance of customers churning based on our datasets. 

- **Retention**: Creating retention strategies to prevent churn. 

- **Impact**: Estimating the financial consequences of churn and the benefits of reducing churn for the telecom company. 


The purpose of this project is to use data visualization techniques learned in class to identify customers who might churn. By identifying possible churn, telecom companies can take proactive action to keep the customers and satisfaction and profitability.

## Data Collection

### Customer Demographics Data

### Customer Telco Services Data

### Customer Churn Status Data

## Data Preparation